@import '_normalize.scss';

@import '_grid';

$ttcRed: #e92128;
$mustard: #F5D04C;

body {
	height: 100%;
	color: #333;
  	font-weight: 300;
	font-size: 13px;
	font-family: "Helvetic",sans-serif;
	background-image: url(../images/Yums.jpg);
}

// **********************
// All Styles Go Below Here Bud
//***********************

.container {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	border: 5px dashed black;
	background-color: rgba(233, 33, 40, 0.1);
	box-shadow: 0px 0px 25px #000000;
}
header{
	@include column(12);
	background-color: $ttcRed;
		h1{
			font-family: 'Yesteryear', cursive;
			font-size: 72px;
			letter-spacing: 1.5px;
			color: $mustard; 
			text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
			background: #fff;
		}
}

article{
	@include column(12);
	background:rgba(255,255,255, 0.9);
	// height:500px;
	.pbox{
		padding-top: 2%;
		@include column(4);
		@include push(4);
			p{
				font-size: 20px;
				text-align: left;
				font-family: Helvetica, sans-serif;

			}
		}
		#light{
			margin-top:2%;
		}
		button {
		@include column(4);
		@include push(4);
		widows: 30%;
   	 	padding: 10px 15px;
   	 	background: $ttcRed;
   	 	border-radius: 10px;
   	 	color: #FFF;
   	 	font-family: 'Yesteryear', cursive;
   	 	font-size: 32px;
   	 	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
   	 	box-shadow: -1px -1px -1px;
	}
}
	
	.gutter{
		@include column(12);
		height:15px;
	}
	#choices{
		@include column(12);
		// background-color: $ttcRed;

	}
	.showBox{
		@include column(4);
		background-color: #fff;
		// width: 180px;
		// height: 180px;
		h2{
			color:$mustard;
		}
	}
footer{
	@include column(12);
	background-color: $ttcRed;
	p, {
		color: #fff;
		font-size: 15px;
	}
	a{
		color: $mustard;
		text-decoration: none;
	}
}




